{% extends 'layout/main.html' %}

<!-- title -->
{% block title %} Tambah Pengumuman {% endblock title %}

<!-- Start Content -->
{% block content %}

<!-- Navbar -->
{% include 'layout/navbar.html' %}

<!-- message -->
{% block messages %} {% endblock messages %}

<!-- Main Content -->
<main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 sm:px-0">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="bg-[#039f18] p-4 md:p-6">
        <h2 class="text-lg md:text-xl font-semibold text-white text-center">Tambah Pengumuman Baru</h2>
      </div>

      <form method="POST" enctype="multipart/form-data" class="p-6 space-y-6">
        {% csrf_token %}
        <!-- Loop semua field -->
        {% for field in form %}
        <div class="mb-4">
          <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700"> {{ field.label }} </label>
          {{ field }} {% if field.help_text %}
          <p class="text-xs text-gray-500 mt-1">{{ field.help_text }}</p>
          {% endif %} {% if field.errors %}
          <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
          {% endif %}
        </div>
        {% endfor %}

        <!-- Tombol Submit -->
        <div class="flex justify-end space-x-3">
          <a href="{% url 'pengumuman' %}" class="inline-flex justify-center py-2 px-4 border border-gray-300 shadow-sm text-xs md:text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Batal </a>
          <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-xs md:text-sm font-medium rounded-md text-white bg-[#039f18] hover:bg-[#026b10]">Simpan Pengumuman</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
