{% extends 'layout/main.html' %}

<!-- title -->
{% block title %} Profil Saya {% endblock title %}

<!-- Start Content -->
{% block content %} {% include 'layout/navbar.html' %}
<!-- Main Content -->
<main class="max-w-7xl mx-auto md:py-6 sm:px-6 lg:px-8">
  <!-- Profile Section -->
  <div class="px-4 py-6 sm:px-0">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="px-4 py-4 md:py-5 sm:px-6 sm:px-6 bg-[#039f18]">
        <h3 class="text-md md:text-lg leading-6 font-medium text-white">Profil Saya</h3>
        <p class="mt-1 max-w-2xl text-sm text-white opacity-80">Informasi detail profil Anda</p>
      </div>

      <div class="border-t border-gray-200">
        <div class="px-4 py-5 sm:p-6">
          <div class="flex items-center space-x-6">
            <div>
              <h3 class=""><span class="text-md md:text-xl font-bold text-gray-900">{{ full_name }}</span> <span class="text-sm md:text-md text-gray-500">@{{ username }}</span></h3>
              <p class="text-sm md:text-md text-gray-500"><span class="text-gray-900">Nama Anak :</span> {{ siswa }}</p>
            </div>
          </div>

          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">Nama Lengkap</dt>
              <dd class="mt-1 text-sm text-gray-900">{{ full_name }}</dd>
            </div>

            <div class="sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">Email</dt>
              <dd class="mt-1 text-sm text-gray-900">{{ email }}</dd>
            </div>

            <div class="sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">
                Nomor Telepon {% if not user.is_staff and not user.is_superuser and not user.orangtuamurid.nomor_hp %}<a href="{% url 'edit_profile_ortu' %}" class="text-red-700 hover:text-red-400">(Lengkapi data)</a>{% endif %}
              </dt>
              <dd class="mt-1 text-sm text-gray-900">{{ nomor_hp }}</dd>
            </div>

            <div class="sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">
                Alamat {% if not user.is_staff and not user.is_superuser and not user.orangtuamurid.alamat %}<a href="{% url 'edit_profile_ortu' %}" class="text-red-700 hover:text-red-400">(Lengkapi data)</a>{% endif %}
              </dt>
              <dd class="mt-1 text-sm text-gray-900">{{ alamat }}</dd>
            </div>
          </div>

          <!-- Edit Profile Button -->
          <div class="mt-6">
            <a
              href="{% url 'edit_profile_ortu' %}"
              class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#039f18] hover:bg-[#026b10] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#039f18]"
            >
              <i class="fas fa-edit mr-2"></i>
              Edit Profil
            </a>
          </div>
        </div>
      </div>

      <!-- Security Settings -->
      <!-- <div class="border-t border-gray-200">
        <div class="px-4 py-5 sm:p-6">
          <h4 class="text-lg font-medium text-gray-900">Pengaturan Keamanan</h4>
          <div class="mt-4">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#039f18]"
            >
              <i class="fas fa-key mr-2"></i>
              Ubah Kata Sandi
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
